@import "tailwindcss/base";
@import "tailwindcss/components";

.screen {
  @apply sm:w-full w-[600px] mx-auto;
}

@import "tailwindcss/utilities";

body {
  background-color: #efeffe;
}

form {
  box-shadow: 0 0 10px #aaa;
  border-radius: 15px;
}
